{% extends "base.html" %}
{% load static %}

{% block extra_meta %}
    <!-- favicon files -->

    <link rel="shortcut icon" type="image\png" sizes="32x32" href="..\static\favicon\favicon-32x32.png">
    <link rel="shortcut icon" type="image\png" sizes="16x16" href="..\static\favicon\favicon-16x16.png">
    <link rel="shortcut icon" type="image\png" sizes="36x36" href="\static\favicon\android-icon-36x36.png">
    <link rel="shortcut icon" type="image\png" sizes="48x48" href="\static\favicon\android-icon-48x48.png">
    <link rel="shortcut icon" type="image\png" sizes="57x57" href="..\static\favicon\apple-icon-57x57.png">
    {% endblock %}

{% block extra_media %}
<link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class col-lg-6>
                <div class="row justify-content-md-center-right">
                    <div class col-lg-8 col-md-4>
                        <img class="card-img bg-transparent" src="https://kuk-marketing-2.s3.eu-west-2.amazonaws.com/media/redhat2+2021-05.jpeg">               
                    </div>  
                </div>
                <div class="col-7 col-md-6 my-auto">
                  <h4 class="display-4 logo-font text-black, main-header.style">
                    GradPads
                   </h4>
                    <h4>Your Home from Home!</h4>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="view-now-button btn btn-lg rounded-0 text-uppercase py-3">View Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>   
{% endblock %}