.callout-container  {
    height: 100vh;
    background: url("\media\background_2020-09_cropped.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
.icon {
    align-items: right;
    display: inline-flex;
    justify-content: right;
    height: 1.5rem;
    width: 1.5rem;
}

.media img {
    height: 150px;
    object-fit: contain;
    min-height: 100%;
    max-height: none;
    border-radius: 15% 15% 15% 15% / 10% 10% 10% 10%;
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}


.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.wrapper {
    height: 100px;
    width: 100px;
    color: ffff;
}

