{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_meta %}
    
    <!-- favicon files -->
    <meta name="keywords" content=" Home from Home, Accommodation for Students in Liverpool, Kensington Fields, Student Accommodation, Liverpool, Students, Property,
    We hope to find you and your friends a home from home during your studies in Liverpool, Testimonials,  Contact us ">
    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\media\favicon\favicon-32x32.png">
    <link rel="shortcut icon" type="image\png" sizes="16x16" href="\media\favicon\favicon-16x16.png">
    <link rel="shortcut icon" type="image\png" sizes="36x36" href="\media\favicon\android-icon-36x36.png">
    <link rel="shortcut icon" type="image\png" sizes="48x48" href="\media\favicon\android-icon-48x48.png">
    <link rel="shortcut icon" type="image\png" sizes="57x57" href="\media\favicon\apple-icon-57x57.png">

{% endblock %}

{% block extra_media %}
    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\media\favicon\favicon-32x32.png">
{% endblock %}


{% block content %}

<div class="container header-container">
    <div class="opaque-overlay">&nbsp;</div>
        <div class="card">
            <div class="card-body">
                <div class="row h-100">
                    <div class="card bg-white text-dark">
                        <img class="card-img" src="https://kuk-marketing-2.s3.eu-west-2.amazonaws.com/media/top-half.jpg" alt="Card image">
                    </div>
                        <div class="container">
                            <div>
                                <h3 class="display-5 text-black main-header.style col-sm">
                                About Us
                                </h3>
                            </div>
                        <div class="row">
                            <div class="col-sm">
                                <p>We adhere and adapt to regulation of the rental market, both locally and nationally. You can be reassured that all our properties comply with all necessary safety standards. As private landlords we have a vested interest in our properties and aim to provide good housing at a competitive price. We are fully compliant and manage our houses professionally.</p>
                            </div>
                            <div class="col-sm">
                                <p>We hope to find you and your friends a home from home during your studies in Liverpool. Have a look at some of our tenant testimonials here.
                                </p>
                                <p>Call or email us and we will help you find your new student home.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm my-auto">
                                <h4>
                                Contact us now to discuss your requirements
                                </h4>
                            </div>
                        </div>
                        <div class="col-sm my-5">
                            <h4>
                            <a href="{% url 'contact' %}" class="view-now-button btn btn-lg rounded-0 text-uppercase py-3">Contact Us</a>
                            </h4>
                        </div>
                        <div class="col-12">
                            <br><br>
                            <h4>Want to find out more about our properties</h4>
                            <h4 id="email-header">Email us and we will help find your new student home.</h4>
                            <i id="fa-envelope" fa-envelope="" "=""></i>
                            <class id="email-address-link" <="" aria-hidden="true">
                            <a id="mail-link" href="mailto:hello.gradpads@outlook.com" target"_blank"="">hello.gradpads@outlook.com</a><br><br>
                        </div>                                                                        
                        <div class="card bg-white text-dark">
                          <img class="card-img" src="https://kuk-marketing-2.s3.eu-west-2.amazonaws.com/media/kensingtonfieldspng.png" alt="Card image">
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{% endblock %}

