{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}


{% block content %}
<div class="container header-container">
    <div class="card">
        <div class="card-body">
            <div class="row h-100">
                <div class="container">
                    <div>
                        <h2 class="text-black main-header.style col-sm">
                            About Us
                        </h2>
                    </div>
                    <div class="row">
                        <img class="card-img" src="\media\hooray.png" alt="Card image">
                        <div class="col-sm">
                            <h3 class="card-title logo-font text-black main-header.style">Enjoy Your New Pad!
                            </h3>
                            <p>We provide student homes in Liverpool, most specifically Kensington Fields. Since 2008, we have housed 100s of students.  We respond to the changing needs and expectations of Liverpool's students and strive to offer good value and quality accommodation.</p>
                            <p>We offer accommodation with everything included for your convenience - utilities, broadband and TV. There is nothing else topay as we don't charge any administration or application fees.</p>
                        </div>
                        <div class="col-sm">
                            <p>We adhere and adapt to regulation of the rental market, both locally and nationally. You can be reassured that all our properties comply with all necessary safety standards. You can be reassured that all our properties comply with all necessary safety standards. As private landlords we have a vested interest in our properties and aim to provide good housing at a competitive price. We are fully compliant and manage our houses professionally.
                        </div>
                        <class="col-sm">
                            <p>We hope to find you and your friends a home from home during your studies in Liverpool. Have a look at some of our tenant testimonials here.
                            </p>
                            <p>Call or email us and we will help you find your new student home.</p>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-sm my-auto">
                            <h4>
                            Contact us now to discuss your requirements
                            </h4>
                        </div>
                        <div class="my-5">
                            <h4>
                            <a href="{% url 'contact' %}" class="buy-now-button btn btn-lg rounded-0 text-uppercase py-3">Contact Us</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
