{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}



{% block extra_meta %}
    <!-- favicon files -->
    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
    <link rel="shortcut icon" type="image\png" sizes="16x16" href="\static\favicon\favicon-16x16.png">
    <link rel="shortcut icon" type="image\png" sizes="36x36" href="\static\favicon\android-icon-36x36.png">
    <link rel="shortcut icon" type="image\png" sizes="48x48" href="\static\favicon\android-icon-48x48.png">
    <link rel="shortcut icon" type="image\png" sizes="57x57" href="\static\favicon\apple-icon-57x57.png">
{% endblock %}

{% block extra_media %}
    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
{% endblock %}

{% block page_header %}

<div class="container header-container">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row h-100">
        <div class="col-lg-7 col-md-6 my-auto">
            <br>
            <h4 class="display-4 logo-font text-black, main-header.style">
                Contact Us
            </h4>
            {% for message in messages%}

<div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
</div>
{% endfor %}
        <!-- form requirements-start-->
            <form method="POST" name="sentRequirements" id="contactForm" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="control-group-requirements">
                        <div class="form-group-requirements floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="" name="name" id="name" required data-validation-required-requirements="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group-requirements floating-label-form-group controls">
                            <label for="contactFormControlInput1">Email address</label>
                            <input type="email" class="form-control" placeholder="" name="email" id="email" required data-validation-required-message="Please enter email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                  	<div class="control-group">
                        <label for="contactFormControlSelect1">Select a Package</label>
                        <select class="form-control" id="package_type" name="package_type">
                            <option value="Bedrooms with study and own bathroom">Bedrooms with study and own bathroom</option>
                            <option value="Bedrooms with study">Bedrooms with study</option>
                            <option value="A whole house for you and your fellow students!">A whole house for you and your fellow students!</option>
                        </select>
                    </div>
                    <div class="control-group">
                        <label for="contactFormControlTextarea" rows="1">Please enter any other requirements</label>
                        <textarea class="form-control" id="description" name="description" rows="8"></textarea>
                        <br>
                        <div id="requirements-success">
                            <div class="form-group-requirements">
                            <button type="submit" class="btn btn-black" id="sendRequirementsButton">Submit here</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
        <div class="card-body">
            <div class="card-header">
            </span><strong><h4>Quote</h4></strong><span>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>"Success is not final, failure is not fatal: it is the courage to continue that counts"</p>
                <footer class="blockquote-footer"><cite title="Source Title">Winston Churchill</cite></footer>
            </blockquote>
        </div>

        <div class container>
        <div class="row justify-content-sm-center">
            <img class="card-img bg-transparent" src="https://kuk-marketing-2.s3.eu-west-2.amazonaws.com/media/redhat2+2021-05.jpeg">
        </div>
    </div>
{% endblock %}
