{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_meta %}
    <!-- favicon files -->

    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
    <link rel="shortcut icon" type="image\png" sizes="16x16" href="\static\favicon\favicon-16x16.png">
    <link rel="shortcut icon" type="image\png" sizes="36x36" href="\static\favicon\android-icon-36x36.png">
    <link rel="shortcut icon" type="image\png" sizes="48x48" href="\static\favicon\android-icon-48x48.png">
    <link rel="shortcut icon" type="image\png" sizes="57x57" href="\static\favicon\apple-icon-57x57.png">

{% endblock %}

{% block extra_media %}
    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
{% endblock %}

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js'></script>
        <script type='text/javascript'>
            (function(){
            emailjs.init('user_OxfJZYwpeVsS9XIdsUY0r');
        })();
</script>


{% block content %}
<div class="container header-container">
        <div class="card">
            <div class="card-body">
                <div class="row h-100">
                    <div class="card bg-white text-dark">
                        <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/adobe-stock_353895569_15.jpg" alt="Card image">
                        <div class="container">
                            <div>
                                <h3 class="display-5 text-black main-header.style col-sm">
                                Why Kensington Fields
                                </h3>
                            </div>
                        <div class="row">
                            <div class="col-sm">
                                <p>We provide student homes in Liverpool, most specifically Kensington Fields. Since 2008, we have housed hundreds of students.  We respond to the changing needs and expectations of Liverpool's students and strive to offer good value and quality accommodation.</p>
                                <p>We offer accommodation with everything included for your convenience - utilities, broadband and TV. There is nothing else to pay as we don't charge any administration or application fees.</p>
                                <hr>
                                <h5>About</h5>
                                <h5>Kensington Fields</h5>
                                <p>Victorian terraced houses largely occupy the area. There are a number of local shops, including newsagents and convenience stores.
                                <p>The area boasts a number of traditional Liverpool pubs.
                                </p>
                                <p>In recent years Kensington Fields has been given conservation status which is good news for future generations to enjoy this highly regarded architectual, historic and characterful place in Liverpool.
                                </p>
                            </div>
                            <div class="col-sm">
                                <p>We adhere and adapt to regulation of the rental market, both locally and nationally. You can be reassured that all our properties comply with all necessary safety standards.
                                <p>As private landlords we have a vested interest in our properties and aim to provide good housing at a competitive price. We are fully compliant and manage our houses professionally. We hope to find you and your friends a home from home during your studies in Liverpool.</p>
                                <br>
                                <hr>
                                <br>
                                <br>
                                <p>Due to its close proximity to the Knowledge Quarter of Liverpool, Kensington has developed into a popular student quarter, composed mainly of University of Liverpool and Liverpool John Moores University students. In 2001, 12.29% of the population of Kensington were registered students.
                                </p>
                                <p>Have a look at some tenant testimonials here:
                                </p>
                                <p>"Lovely house with nice, equal sized rooms"
                                </p>
                                <hr>

                                <p>"Response to all problems and enquiries in a quick and efficient manner. Kept the houses in good condition."</p>
                            </div>

                            <div class="col-sm">
                                <div class="alert alert-success" role="alert">
                                    <h4 class="alert-heading">Well done!</h4>
                                    <h5>More testimonials ...</h5>
                                    <p>Lovely house with nice, equal sized rooms
                                    </p>
                                    <hr>
                                    <p>Lovely location and comfortable study areas, all professionally taken care of by the landlords to ensure we students felt at home</p>
                                    <hr>
                                    <p>The house was at great position in the city, close to the University of Liverpool. It was big and spacious and so was my room. It had everything it needed and a big window that let a lot of natural light go inside. The landlord was nice and available if you needed anything</p>
                                    <hr>
                                    <p class="mb-0">Thanks so much for making sure we were well looked after in our comfortable pads!</p>
                                    <hr>
                                    <p class="mb-0">Gradpads are great! comfortable lodgings and all amenities provided. Thanks for looking after us</p>
                                    <hr>
                                    <p>"Thanks for accomodating us in our home from home. I took on a whole house with my friends which we all enjoyed"</p>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <div class="row justify-content-start">
                            <div class="col-sm">
                                <h5 class="display-5 text-black main-header.style col-sm ">
                                Adelaide Road Virtual Tours</h5>
                            </div>
                        </div>
                        <div class="row justify-content-evenly">
                            <div class="col-md-3"><iframe class="embed-responsive-4by3" src="https://www.youtube.com/embed/H0ywkmO7Cuw" title="adelaide video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"allowfullscreen></iframe></div>
                            <div class="col-md-3 offset-md-3"><iframe class="embed-responsive-4by3" src="https://www.youtube.com/embed/SdLv2os6HC4" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                        </div>

                        <hr>

                        <h4>
                            Contact us now to discuss your requirements
                        </h4>


                        <div class="my-5">
                            <h4>
                            <a href="{% url 'contact' %}" class="view-now-button btn btn-lg rounded-0 text-uppercase py-3">Contact Us</a>
                            </h4>
                        </div>
                        <div class=jsemail-content>
                            <div id="contact-header">
                                <section class="container>
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Want to find out more about our properties</h4>
                                            <h4 id="email-header">Email us and we will help find your new student home.</h4>
                                            <i id="fa-envelope" fa-envelope "></i>
                                            <class id="email-address-link"< aria-hidden="true">
                                            <a id="mail-link"href="mailto:hello.gradpads@outlook.com" target"_blank">hello.gradpads@outlook.com</a>
                                        </div>
                                    </div>
                                </section>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
