{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'services/css/services.css' %}">
{% endblock %}

{% block extra_meta %}
    <!-- favicon files -->

    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
    <link rel="shortcut icon" type="image\png" sizes="16x16" href="\static\favicon\favicon-16x16.png">
    <link rel="shortcut icon" type="image\png" sizes="36x36" href="\static\favicon\android-icon-36x36.png">
    <link rel="shortcut icon" type="image\png" sizes="48x48" href="\static\favicon\android-icon-48x48.png">
    <link rel="shortcut icon" type="image\png" sizes="57x57" href="\static\favicon\apple-icon-57x57.png">

    {% endblock %}

    {% block extra_media %}
    <link rel="shortcut icon" type="image\png" sizes="32x32" href="\static\favicon\favicon-32x32.png">
{% endblock %}


{% block content %}
<div class="container header-container">
        <div class="card">
            <div class="card-body">
                <div class="row h-100">
                    <div class="card bg-white text-dark">
                        <img class="card-img" src="https://kuk-milestone-4.s3.amazonaws.com/media/adobe-stock_353895569_15.jpg" alt="Card image">
                        <div class="container">
                            <div>
                                <h3 class="display-5 text-black main-header.style col-sm">
                                Why Kensington Fields
                                </h3>
                            </div>
                        <div class="row">
                            <div class="col-sm">
                                <p>We provide student homes in Liverpool, most specifically Kensington Fields. Since 2008, we have housed 100s of students.  We respond to the changing needs and expectations of Liverpool's students and strive to offer good value and quality accommodation.</p>
                                <p>We offer accommodation with everything included for your convenience - utilities, broadband and TV. There is nothing else topay as we don't charge any administration or application fees.</p>
                            </div>
                            <div class="col-sm">
                                <p>We adhere and adapt to regulation of the rental market, both locally and nationally. You can be reassured that all our properties comply with all necessary safety standards. You can be reassured that all our properties comply with all necessary safety standards. As private landlords we have a vested interest in our properties and aim to provide good housing at a competitive price. We are fully compliant and manage our houses professionally.</p> 
                            </div>
                            <div class="col-sm">
                                <p>We hope to find you and your friends a home from home during your studies in Liverpool. Have a look at some of our tenant testimonials here.
                                </p>
                                <p>Call or email us and we will help you find your new student home.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm my-auto">
                                <h4>
                                Contact us now to discuss your requirements
                                </h4>
                            </div>
                        </div>
                        <div class="my-5">
                            <h4>
                            <a href="{% url 'contact' %}" class="view-now-button btn btn-lg rounded-0 text-uppercase py-3">Contact Us</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
